@import "../../components/layout/layout.scss";

@include themify($themes) {
  .register {
    overflow: auto;
    height: 100vh;
    background-color: themed("loginBg");
    display: flex;
    align-items: center;
    justify-content: center;
    color: themed("textColor");

    .card {
      width: 60%;
      display: flex;
      background-color: themed("bg");
      border-radius: 10px;
      justify-content: center;
      overflow: hidden;
      .left {
        justify-content: center;
        flex: 1;
        padding: 50px;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        h1 {
          color: #555;
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;
          input {
            border: none;
            background-color: themed(input);
            border-bottom: 1px solid #555;
            padding: 20px 10px;
          }
          button {
            width: 50%;
            padding: 10px;
            border: none;
            background-color: #938eef;
            color: themed(textColorSoft);
            cursor: pointer;
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
          url("https://images.pexels.com/photos/17976239/pexels-photo-17976239/free-photo-of-plants-in-window.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"),
          center;
        background-size: cover;
        padding: 50px;
        gap: 30px;
        color: white;
        h1 {
          font-size: 100px;
          line-height: 100px;
          margin: 0;
        }
        p {
        }
        span {
          font-size: 14px;
        }
        button {
          color: rebeccapurple;
          border: none;
          padding: 10px;
          width: 50%;
          background-color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
