@import "./../layout.scss";

@include themify($themes) {
  .rightbar {
    flex: 3;
    top: 4.5em;
    position: sticky;
    color: themed("textColor");
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    height: calc(100vh - 4.5em);
    .container {
      padding: 0.2em;
      .item {
        border-radius: 5%;
        background-color: themed("bg");
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.014);
        padding: 1.2em;
        margin: 1em;
        span {
          color: themed("textColorSoft");
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 1.2em 0;

          .userinfo {
            display: flex;
            align-items: center;
            gap: 1.2em;
            position: relative;
            img {
              width: 2.2em;
              height: 2.2em;
              border-radius: 50%;
              object-fit: cover;
            }
            p {
              color: themed("textColorSoft");
              font-weight: lighter;
            }
            span {
              font-weight: 500;
              color: themed("textColor");
            }
            .online {
              width: 0.6em;
              height: 0.6em;
              border-radius: 50%;
              background-color: lightgreen;
              position: absolute;
              top: 0;
              left: 30px;
            }
          }
          .buttons {
            display: flex;
            align-items: center;
            gap: 0.7em;
            button {
              border: none;
              padding: 0.5em;
              color: themed("textColor");
              cursor: pointer;
              &:first-child {
                background-color: slateblue;
              }
              &:last-child {
                background-color: lightcoral;
              }
            }
          }
        }
      }
    }
  }
}
