$themes: (
  light: (
    textColor: black,
    bg: white,
    logo: SlateBlue,
    loginBg: #c3beff,
    bgSoft: #f6f3f3,
    textColorSoft: #555,
    input: white,
    textColorLogin: white,
    border: lightgray,
  ),
  dark: (
    textColor: whitesmoke,
    bg: #222,
    loginBg: #333,
    logo: white,
    bgSoft: #333,
    input: #333,
    textColorLogin: rgb(172, 171, 171),
    textColorSoft: lightgray,
    border: #444,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      background-color: map-get($theme-map, "bgSoft");
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
